<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listHeading %>
        </h1>
    </div>
    <div class="box">
        

        <% for(let i=0;i<newAdds.length ;i++){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%= newAdds[i]._id %>">
                    <p>
                        <%= newAdds[i].name %>
                    </p>
                    <input type="hidden" name="listName" value=<%= listHeading%>></input>
                </div>
            </form>
            
            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New task" autocomplete="off">
                    <button type="submit" name="button" value=<%= listHeading%>>+</button>
                </form>

<%- include("footer") -%>